/* .container{
    margin:50px;
    border:10px solid black;
    padding:20px;
    width:200px;
    height:200px;
} */

.box{
    width:500px;
    background-color: silver;
}
.box--top{
    padding:10px 10px  10px 10px;
    border:5px solid red
    margin:100px solid green;
}

.box--bottom{
    border-bottom: 10px solid blue;
    border-top: 10px solid blue;
    margin:100px solid yellow;

  
}

.circle{
    width:300px;
    height:300px;
    background-color: lime;
    margin-left:200px;
    border: 20px solid pink;
    border-radius: 50%;
     
}